[Unit]
Description=Smart Mall Service
After=network.target
[Service]
Type=simple
User=user
Group=user
StandardOutput=null
WorkingDirectory=/opt/smart-mall
ExecStart=/usr/bin/java -Xlog:gc:gc.log:time:filesize=2M,filecount=5 -Xms500M -Xmx500M -XX:+AlwaysPreTouch -jar smart-mall.jar
Restart=always
RestartSec=20s
[Install]
WantedBy=multi-user.target