[Unit]
Description=Smart Server
After=network.target
[Service]
Type=simple
User=user
Group=user
StandardOutput=null
WorkingDirectory=/home/smart
ExecStart=/usr/bin/java -Xlog:gc:gc.log:time:filesize=2M,filecount=5 -Xms500M -Xmx500M -jar smart.jar
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target